@import "../../../css-config/mixins.scss";
.shop-by-category {
    margin: 25px 0;
    @include md {
        margin: 50px 0;

    }
    .categories {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        gap: 10px;
       
        @include md {
            display: flex;
            justify-content: center;
        }
        .category{           
            cursor: pointer;
            overflow: hidden;
            margin: 0 10px;
            background-color: #c3c0c46b;
            border-radius: 15px;
            &:hover {
                    background-color: #90839c;
                     transition: all ease 0.5s;
                   
            }
            // img {
            //     width: 100%;
            //     display: block;
            //     transition: all ease 0.3s;
                
            // }
            
        }
    }
}